/* WP Styles */

/* Override JQuery Mobile CSS */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a,
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit,
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head+body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head+body .ui-btn.ui-btn-a:visited,
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head+body .ui-btn.ui-btn-a:hover,
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none;
}
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head+body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head+body .ui-btn-a.ui-focus,
html head+body .ui-body-a.ui-focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Set Default Global Style */
/* @font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 700;
}
body, input, select, textarea, button, .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
} */
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-CondensedBold.ttf');
	font-weight: 700;
}
body, input, select, textarea, button, .ui-btn {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 14px;
}

/* "Def" Stand as "Define" Using Abbreviate */
.def > .ui-header {
	border-width: 0;
	background-color: #001848;
}
.def > .ui-header form {
	margin: 0 46px;
}
.def > .ui-header a {
	padding: 5px 2px;
}
.def > .ui-header a img {
	border-radius: 6px;
	width: 31px;
}
.def > .ui-header .ui-input-search {
	margin: 8px 0;
	border-width: 0;
}
.def > .ui-header .ui-body-inherit {
	background-color: #90A5CA;
}
.def > .ui-header .ui-shadow-inset,
.def > .ui-header .ui-focus,
.def > .ui-header .ui-btn:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.def > .ui-header .ui-corner-all {
	border-radius: 6px;
}
.def > .ui-header .ui-alt-icon.ui-icon-search:after,
.def > .ui-header .ui-input-search:after {
	padding: 1px 3px;
	background-image: url('../images/icons-png/search-white.png');
	opacity: 1;
}
.def > .ui-header .ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear {
	padding: 1px 0;
}
.def > .ui-header .ui-btn-icon-left:after,
.def > .ui-header .ui-btn-icon-right:after,
.def > .ui-header .ui-btn-icon-top:after,
.def > .ui-header .ui-btn-icon-bottom:after,
.def > .ui-header .ui-btn-icon-notext:after {
	background-color: transparent;
}
.def > .ui-header .ui-input-search input {
	color: #FFFFFF;
	text-shadow: none;
	font-size: 14px;
}
.def > .ui-header .ui-navbar {
	border-bottom: 1px solid #CACACA;
}
.def > .ui-header .ui-navbar .ui-btn {
	padding: .7em 1em;
	background-color: #E2E2E2;
	border-color: #CACACA;
}
.def > .ui-header .ui-navbar li:last-child .ui-btn {
	margin-right: 0;
	border-right: 1px solid #CACACA;
}
.def > .ui-header .ui-navbar .ui-btn.ui-btn-active,
.def > .ui-header .ui-navbar .active {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #333333;
	text-shadow: none;
}
.def > .ui-header .ui-navbar .ui-btn span:first-child {
	float: left;
	color: #001848;
}
.def > .ui-header .ui-navbar .ui-btn span:last-child {
	float: right;
	color: #888888;
}

.def > .ui-footer {
	border-color: #222222;
	background-color: #001848;
}
.def > .ui-footer a {
	font-weight: 400;
}
.def > .ui-footer .ui-btn {
	margin: 3px;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #001848;
	color: #FFFFFF;
	text-shadow: none;
}
.def > .ui-footer .ui-navbar li:last-child .ui-btn {
	margin-right: 3px;
}
.def > .ui-footer .ui-btn:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.def > .ui-footer .ui-btn.ui-btn-active,
.def > .ui-footer .active {
	border: 1px solid #FFFFFF;
	/* background-color: #000F2C;
	color: #E8BB00; */
}



.def-thumb {
	padding: 0;
}
.def-thumb .ui-li-static {
	padding: 0;
	border: 0;
	width: 50%;
	background-color: transparent;
}
@media screen and (min-width: 480px) {
	.def-thumb .ui-li-static {
		width: 33.33333333%;
	}
}
@media screen and (min-width: 768px) {
	.def-thumb .ui-li-static {
		width: 25%;
	}
}
@media screen and (min-width: 992px) {
	.def-thumb .ui-li-static {
		width: 20%;
	}
}
@media screen and (min-width: 1200px) {
	.def-thumb .ui-li-static {
		width: 16.66666666%;
	}
}
.def-thumb .thumb {
	margin: 4px;
	border-radius: 8px;
	background-color: #FFFFFF;
	overflow: hidden;
	text-shadow: none;
}
.def-thumb .thumb a {
	padding-bottom: 4px;
	display: block;
	color: inherit;
	font-size: 16px;
	text-decoration: none;
}
.def-thumb .thumb a p {
	white-space: normal;
}
.def-thumb .thumb a img {
	max-width: 100%;
	width: 100%;
}
.def-thumb .thumb .b {
	font-size: 14px;
	font-weight: bold;
}
.def-thumb .thumb .head a {
	padding: 4px;
	position: relative;
}
.def-thumb .thumb .head img {
	margin-right: 6px;
	border-radius: 8px !important;
	float: left;
	position: absolute;
	width: 2em;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.def-thumb .thumb .main .section {
	padding: 4px 8px;
	border-bottom: 1px solid #DDDDDD;
}
.def-thumb .thumb .main .section:last-child {
	border-bottom: 0;
}
.def-thumb .thumb .head .b {
	margin-left: 38px;
	line-height: 16px;
}
.def-thumb .thumb .main .desc p {
	margin: 4px 0;
}
.def-thumb .thumb .main .sub {
	color: #555555;
}

.def-inline-thumb .scrollable {
	padding: 0 6px;
	display: table;
}
.def-inline-thumb .anchors {
	padding: 0;
	display: table-row;
	border-collapse: separate;
}
.def-inline-thumb .anchors .anchor {
	display: table-cell;
	list-style: none;
}
.def-inline-thumb .anchors .anchor a {
	margin: 0 2px 4px;
	display: block;
}
.def-inline-thumb .anchors .anchor .cover {
	margin: 0 2px;
	display: block;
	width: 70px;
	height: 70px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.def-inline-thumb .anchors .anchor a img {
	width: 70px;
	vertical-align: middle;
}
.def-inline-thumb .anchors .anchor .create {
	background-color: #EFEFEF;
	background-size: 36px;
	background-position: 50% 50%;
}
.def-inline-thumb .anchors .anchor .create img {
	margin: 0 auto;
	padding: 17px;
	background-color: #EFEFEF;
	max-width: 36px;
}

.def-block-thumb .unscrollable {
	margin-bottom: -2px;
	padding: 0 6px;
}
.def-block-thumb .anchors {
	margin: 0;
	padding: 0;
}
.def-block-thumb .anchors .anchor {
	display: block;
	float: left;
	position: relative;
	list-style: none;
	width: 25%;
}
@media screen and (min-width: 480px) {
	.def-block-thumb .anchors .anchor {
		width: 16.66666666%;
	}
}
@media screen and (min-width: 768px) {
	.def-block-thumb .anchors .anchor {
		width: 11.11111111%;
	}
}
@media screen and (min-width: 992px) {
	.def-block-thumb .anchors .anchor {
		width: 8.33333333%;
	}
}
@media screen and (min-width: 1200px) {
	.def-block-thumb .anchors .anchor {
		width: 5.55555555%;
	}
}
.def-block-thumb .anchors .anchor a {
	margin: 0 2px 4px;
	display: block;
}
.def-block-thumb .anchors .anchor .cover {
	margin: 0 2px 4px;
	display: block;
	height: 70px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.def-block-thumb .anchors .anchor a img {
	width: 100%;
	vertical-align: middle;
}
.def-block-thumb .anchors .anchor a .delete {
	margin: 0;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background-color: transparent;
	border-color: transparent;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

/* Paveels Colours */
/* C0D531, DCE372, FDD356, BC833A, AB6B28, 74401A */

/* Contek - http://pixelarity.com/items/demos/threshold/red */
/* Paveels Def */
.def > .ui-header {
	background-color: #FDD356;
	overflow-y: hidden;
}
.def > .ui-header .ui-body-inherit {
	background-color: #EDB302;
}
.def .ui-content > .dis-ui-content,
.def .ui-content .dis-ui-content {
	margin: -1em;
	/* background-color: #C8C8C8; */
}

/* Borrwing From WP */
.def .ui-content > .hub .generic,
.def .ui-content > .hub .top-product {
	margin: 0 auto;
	padding: 5px;
	max-width: 1170px;
}
.def .ui-content > .hub .container > .section {
	margin-bottom: 5px;
}
.def .ui-content > .hub .container > .section:last-child {
	margin-bottom: 20px;
}
.def .ui-content > .hub .ui-bar,
.def .ui-content > .hub .ui-body {
	padding: 8px;
}
.def .ui-content > .hub .ui-body,
.def .ui-content > .hub .ui-foot {
	margin-top: -1px;
}
.def .ui-content > .hub .ui-corner-all > div:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.def .ui-content > .hub .ui-corner-all > div:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.def .ui-content > .hub .ui-foot .ui-btn-inline {
	display: inline-block;
	font-size: 12px;
}
.def .ui-content > .hub .ui-bar h3 {
	margin-bottom: 0;
}
.def .ui-content > .hub .ui-body p {
	margin-top: 0;
	margin-bottom: 4px;
}
.def .ui-content > .hub .ui-body p:last-child {
	margin-bottom: 0;
}
.def .ui-content > .hub .b {
	font-weight: 700;
}
.def .ui-content > .hub .text-fade {
	color: #888888;
}
.def .ui-content > .hub .order {
	padding: 0;
}
.def .ui-content > .hub .order > .item {
	list-style: none;
}
.def .ui-content > .hub .order > .item:last-child {
	border-bottom: 0;
}
.def .ui-content > .hub .ui-view {
	margin-bottom: 20px;
	padding: 5px;
}

/* Extend Hub */
.def .ui-content > .hub .dis-ui-body {
	padding: 0;
}
.def .ui-content > .hub .main-title {
	text-align: center;
}
.def .ui-content > .hub .btn-orange {
	margin: 10px 0;
	background-color: #FDD356;
	border-color: #FDC524;
	color: #2F2F2F;
}
.def .ui-content > .hub .row {
	overflow: hidden;
}
.def .ui-content > .hub .generic {
	margin: 0 auto;
	/* max-width: 768px; */
}
@media screen and (min-width: 480px) {
	.def .ui-content > .hub .top-product .order {
		overflow: hidden;
	}
	.def .ui-content > .hub .top-product .order .item {
		float: left;
		width: 50%;
	}
}
@media screen and (min-width: 768px) {
	.def .ui-content > .hub .row .cm4,
	.def .ui-content > .hub .row .cm5,
	.def .ui-content > .hub .row .cm6 {
		float: left;
	}
	.def .ui-content > .hub .row .cm4 {
		width: 40%;
	}
	.def .ui-content > .hub .row .cm5 {
		width: 50%;
	}
	.def .ui-content > .hub .row .cm6 {
		width: 60%;
	}
	.def .ui-content > .hub .top-product .order .item {
		float: left;
		width: 25%;
	}
}
@media screen and (min-width: 992px) {
	.def .ui-content > .hub .top-product .order .item {
		float: left;
		width: 20%;
	}
}
.def .ui-content > .hub .same-height {
	display: table;
}
.def .ui-content > .hub .same-height [class*="cm"] {
	float: left;
	display: table-cell;
	vertical-align: middle;
}
@media screen and (min-width: 768px) {
	.def .ui-content > .hub .same-height [class*="cm"] {
		float: none;
	}
}
.def .ui-content > .hub .card img {
	width: 100%;
	vertical-align: middle;
}
.def .ui-content > .hub .card .bg-img {
	background-size: cover;
	background-repeat: no-repeat;
}
.def .ui-content > .hub .card .description {
	display: block;
	padding: 20px;
	color: inherit;
	font-weight: 400;
	text-decoration: none;
}
.def .ui-content > .hub .card .description .title {
	text-align: center;
	margin-top: 0;
}
.def .ui-content > .hub .card .description .price {
	margin: -10px 0 10px;
	color: #248C00;
	font-size: 18px;
	text-align: center;
}
.def .ui-content > .hub .card .cost {
	padding: 3em 2.2em;
	border-radius: 50%;
	background-color: #8c91ff;
	background-color: #9E9E9E;
	position: absolute;
	top: 5%;
	right: 5%;
}
.def .ui-content > .hub .card .cost p {
	margin: 0;
	color: #FFF;
	font-size: 18px;
}
.def .ui-content > .hub .notification .ui-listview {
	margin: 0;
}
.def .ui-content > .hub .notification .ui-listview .item:last-child {
	margin-bottom: 20px;
}
.def .ui-content > .hub .notification .ui-listview a {
	overflow: hidden;
}
.def .ui-content > .hub .notification .ui-listview p {
	margin: 0;
	font-size: 14px;
}
.def .ui-content > .hub .notification .ui-listview .btn-delete {
	border-width: 0;
	position: absolute;
	top: 0;
	right: 5px;
	background-color: transparent;
}
.def .ui-content > .hub .notification .ui-listview .item .success {
	background-color: #14C790;
	color: #FFF;
}
.def .ui-content > .hub .notification .ui-listview .item .info {
	background-color: #1478C7;
	color: #FFF;
}
.def .ui-content > .hub .notification .ui-listview .item .warning {
	background-color: #F38918;
	color: #FFF;
}
.def .ui-content > .hub .notification .ui-listview .item .error {
	background-color: #E01733;
	color: #FFF;
}

.def .left-panel .ui-listview > .ui-li-static {
	padding: 0;
}
.def .left-panel .ui-listview > li h2 {
	margin: 0;
}
.def .left-panel .ui-nodisc-icon.ui-btn:after,
.def .left-panel .ui-nodisc-icon .ui-btn:after {
	opacity: 0.8;
}
.def .left-panel .ui-listview > li .ui-listview > li a {
	font-weight: 400;
}
