/* WP Styles */

/* Override JQuery Mobile CSS */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a,
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit,
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head+body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head+body .ui-btn.ui-btn-a:visited,
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head+body .ui-btn.ui-btn-a:hover,
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none;
}
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head+body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head+body .ui-btn-a.ui-focus,
html head+body .ui-body-a.ui-focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Set Default Global Style */
/* @font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 700;
}
body, input, select, textarea, button, .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
} */
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-CondensedBold.ttf');
	font-weight: 700;
}
body, input, select, textarea, button, .ui-btn {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 14px;
}

/* "Def" Stand as "Define" Using Abbreviate */
.def > .ui-header {
	border-width: 0;
	background-color: #001848;
}
.def > .ui-header form {
	margin: 0 46px;
}
.def > .ui-header a {
	padding: 5px 2px;
}
.def > .ui-header a img {
	border-radius: 6px;
	width: 31px;
}
.def > .ui-header .ui-input-search {
	margin: 8px 0;
	border-width: 0;
}
.def > .ui-header .ui-body-inherit {
	background-color: #90A5CA;
}
.def > .ui-header .ui-shadow-inset,
.def > .ui-header .ui-focus,
.def > .ui-header .ui-btn:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.def > .ui-header .ui-corner-all {
	border-radius: 6px;
}
.def > .ui-header .ui-alt-icon.ui-icon-search:after,
.def > .ui-header .ui-input-search:after {
	padding: 1px 3px;
	background-image: url('../images/icons-png/search-white.png');
	opacity: 1;
}
.def > .ui-header .ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear {
	padding: 1px 0;
}
.def > .ui-header .ui-btn-icon-left:after,
.def > .ui-header .ui-btn-icon-right:after,
.def > .ui-header .ui-btn-icon-top:after,
.def > .ui-header .ui-btn-icon-bottom:after,
.def > .ui-header .ui-btn-icon-notext:after {
	background-color: transparent;
}
.def > .ui-header .ui-input-search input {
	color: #FFFFFF;
	text-shadow: none;
	font-size: 14px;
}
.def > .ui-header .ui-navbar {
	border-bottom: 1px solid #CACACA;
}
.def > .ui-header .ui-navbar .ui-btn {
	padding: .7em 1em;
	background-color: #E2E2E2;
	border-color: #CACACA;
}
.def > .ui-header .ui-navbar li:last-child .ui-btn {
	margin-right: 0;
	border-right: 1px solid #CACACA;
}
.def > .ui-header .ui-navbar .ui-btn.ui-btn-active,
.def > .ui-header .ui-navbar .active {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #333333;
	text-shadow: none;
}
.def > .ui-header .ui-navbar .ui-btn span:first-child {
	float: left;
	color: #001848;
}
.def > .ui-header .ui-navbar .ui-btn span:last-child {
	float: right;
	color: #888888;
}

.def > .ui-footer {
	border-color: #222222;
	background-color: #001848;
}
.def > .ui-footer a {
	font-weight: 400;
}
.def > .ui-footer .ui-btn {
	margin: 3px;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #001848;
	color: #FFFFFF;
	text-shadow: none;
}
.def > .ui-footer .ui-navbar li:last-child .ui-btn {
	margin-right: 3px;
}
.def > .ui-footer .ui-btn:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.def > .ui-footer .ui-btn.ui-btn-active,
.def > .ui-footer .active {
	border: 1px solid #FFFFFF;
	/* background-color: #000F2C;
	color: #E8BB00; */
}



/* Paveels Colours */
/* C0D531, DCE372, FDD356, BC833A, AB6B28, 74401A */
/* Contek - http://pixelarity.com/items/demos/threshold/red */

/* Paveels Def */
.def .ui-content.ui-content-fluid {
	margin: 0;
	padding: 0;
}

.def .panel-menu .ui-listview > .ui-li-static {
	padding: 0;
}
.def .panel-menu .ui-listview > li h2 {
	margin: 0;
}
.def .panel-menu .ui-nodisc-icon.ui-btn:after,
.def .panel-menu .ui-nodisc-icon .ui-btn:after {
	opacity: 0.8;
}
.def .panel-menu .ui-listview > li .ui-listview > li a {
	font-weight: 400;
}

.def .ui-content .notification .ui-listview {
	margin: 0;
}
.def .ui-content .notification .ui-listview .item:last-child {
	margin-bottom: 20px;
}
.def .ui-content .notification .ui-listview a {
	overflow: hidden;
}
.def .ui-content .notification .ui-listview .wrapper {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}
.def .ui-content .notification .ui-listview p {
	margin: 0;
	margin-right: 32px;
	font-size: 14px;
}
.def .ui-content .notification .ui-listview p.wrap {
	white-space: normal;
}
.def .ui-content .notification .ui-listview .btn-delete {
	border-width: 0;
	position: absolute;
	top: -10px;
	right: 0px;
	background-color: transparent;
}
.def .ui-content .notification .ui-listview .item .success {
	background-color: #14C790;
	color: #FFFFFF;
}
.def .ui-content .notification .ui-listview .item .info {
	background-color: #1478C7;
	color: #FFFFFF;
}
.def .ui-content .notification .ui-listview .item .warning {
	background-color: #F38918;
	color: #FFFFFF;
}
.def .ui-content .notification .ui-listview .item .error {
	background-color: #E01733;
	color: #FFFFFF;
}

/* Borrowing From WP */
.def .ui-content > .hub .container > .section {
	margin-bottom: 5px;
}
.def .ui-content > .hub .container > .section:last-child {
	margin-bottom: 20px;
}
.def .ui-content > .hub .ui-bar,
.def .ui-content > .hub .ui-body {
	padding: 8px;
}
.def .ui-content > .hub .ui-body,
.def .ui-content > .hub .ui-foot {
	margin-top: -1px;
	padding: 0;
}
.def .ui-content > .hub .ui-corner-all > div:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.def .ui-content > .hub .ui-corner-all > div:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.def .ui-content > .hub .ui-bar h3 {
	margin-bottom: 0;
}
.def .ui-content > .hub .ui-body p {
	margin-top: 0;
	margin-bottom: 4px;
}
.def .ui-content > .hub .ui-body p:last-child {
	margin-bottom: 0;
}

.def .ui-content > .hub .order {
	margin: 0;
	padding: 0;
}
.def .ui-content > .hub .order > .item {
	list-style: none;
}
.def .ui-content > .hub .order > .item:last-child {
	border-bottom: 0;
}
.def .ui-content > .hub .ui-view {
	margin: 10px 0;
	padding: 5px;
}
.def .ui-content > .hub .order > .item:last-child .ui-view {
	margin-bottom: 40px;
}

/* Extend Hub */
.def .ui-content > .hub .promo,
.def .ui-content > .hub .top-product {
	margin: 0 auto;
	max-width: 1170px;
}
.def .ui-content > .hub .sub-title {
	text-align: center;
}
.def .ui-content > .hub .btn-orange {
	margin: 10px 0;
	background-color: #FDD356;
	border-color: #FDC524;
	color: #2F2F2F;
}

.def .ui-content > .hub .row {
	overflow: hidden;
}
@media screen and (min-width: 480px) {
	.def .ui-content > .hub .top-product .order {
		overflow: hidden;
	}
	.def .ui-content > .hub .top-product .order .item {
		float: left;
		width: 50%;
	}
}
@media screen and (min-width: 768px) {
	.def .ui-content > .hub .row .cm4,
	.def .ui-content > .hub .row .cm5,
	.def .ui-content > .hub .row .cm6 {
		float: left;
	}
	.def .ui-content > .hub .row .cm4 {
		width: 40%;
	}
	.def .ui-content > .hub .row .cm5 {
		width: 50%;
	}
	.def .ui-content > .hub .row .cm6 {
		width: 60%;
	}
	.def .ui-content > .hub .top-product .order .item {
		float: left;
		width: 25%;
	}
}
@media screen and (min-width: 992px) {
	.def .ui-content > .hub .top-product .order .item {
		float: left;
		width: 20%;
	}
}

.def .ui-content > .hub .same-height {
	display: table;
}
.def .ui-content > .hub .same-height [class*="cm"] {
	float: left;
	display: table-cell;
	vertical-align: middle;
	background-color: #EEEEEE;
}
@media screen and (min-width: 768px) {
	.def .ui-content > .hub .same-height [class*="cm"] {
		float: none;
	}
}

.def .ui-content > .hub .card img {
	width: 100%;
	vertical-align: middle;
}
.def .ui-content > .hub .card .bg-img {
	background-size: cover;
	background-repeat: no-repeat;
}
.def .ui-content > .hub .card .desc {
	display: block;
	padding: 20px;
	color: inherit;
	font-weight: 400;
	text-decoration: none;
}
.def .ui-content > .hub .card .desc .title {
	text-align: center;
	margin-top: 0;
}
@media screen and (min-width: 768px) {
	.def .ui-content > .hub .card.rect .desc .title {
		font-size: 24px;
	}
}
.def .ui-content > .hub .card .desc .price {
	margin: -10px 0 10px;
	color: #248C00;
	font-size: 18px;
	text-align: center;
}
.def .ui-content > .hub .card .cost {
	padding: 3em 2.2em;
	border-radius: 50%;
	background-color: #9E9E9E;
	position: absolute;
	top: 5%;
	right: 5%;
}
.def .ui-content > .hub .card .cost p {
	margin: 0;
	color: #FFFFFF;
	font-size: 18px;
}
.def .ui-content > .hub .social {
	text-align: center;
}
.def .ui-content > .hub .social ul {
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	list-style: none;
}
.def .ui-content > .hub .social ul li {
	float: left;
}
.def .ui-content > .hub .social ul li a {
	display: block;
	padding: 10px;
}
.def .ui-content > .hub .social ul li a img {
	vertical-align: middle;
}


.def > .ui-header {
	background-color: #FDD356;
	overflow: hidden;
}
.def > .ui-header .ui-body-inherit {
	background-color: #EDB302;
}
.def > .ui-header .desktop {
	display: none;
}
.def > .ui-header .desktop .menu {
	float: left;
	background-color: #FDCC3D;
	border-bottom: 4px solid #EDAF02;
	width: 100%;
}
.def > .ui-header .desktop .main {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1170px;
}
.def > .ui-header .desktop .menu .nav {
	overflow: visible;
}
@media (min-width: 60em) {
	.def > .ui-header {
		background-color: #F9F9F9;
		overflow: visible;
	}
	.def > .ui-header > form,
	.def > .ui-header > a {
		display: none;
	}
	.def > .ui-header .desktop {
		display: block;
	}
}
.def > .ui-header .desktop .main .bar {
	margin: 18px 10px;
	float: right;
}
.def > .ui-header .desktop .main .bar > form,
.def > .ui-header .desktop .main .bar > a {
	float: right;
	padding: 6px 14px;
}
.def > .ui-header .desktop .main .bar > form {
	padding: 0;
	padding-left: 6px;
}
.def > .ui-header .desktop .main .bar > a:last-child {
	padding-right: 0;
}
.def > .ui-header .desktop .main .bar > a img {
	opacity: 0.7;
}
.def > .ui-header .desktop .ui-filterable {
	margin: 0;
}
.def > .ui-header .desktop .ui-filterable .ui-input-search input {
	min-width: 180px;
}
.def > .ui-header .desktop .logo {
	padding: 10px;
	display: block;
	float: left;
}
.def > .ui-header .desktop .logo img {
	vertical-align: middle;
	width: auto;
	max-width: 180px;
	max-height: 64px;
}
/* Get From http://codepen.io/philhoyt/pen/ujHzd */
.def > .ui-header .desktop .nav {
	display: block;
}
.def > .ui-header .desktop .nav ul {
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	list-style: none;
}
.def > .ui-header .desktop .nav > ul {
	margin: 0 10px;
}
.def > .ui-header .desktop .nav ul a {
	padding: 2px 15px 0;
	display: block;
	color: inherit;
	text-decoration: none;
	line-height: 34px;
	font-size: 16px;
	color: #68340B;
}
.def > .ui-header .desktop .nav ul li {
	position: relative;
	float: left;
	transition: all 0.3s ease-in-out;
}

/* Paveels Colours */
/* C0D531, DCE372, FDD356, BC833A, AB6B28, 74401A */

.def > .ui-header .desktop .nav ul li.active,
.def > .ui-header .desktop .nav ul li:hover {
	background-color: #EDAF02;
}
.def > .ui-header .desktop .nav ul ul {
	padding: 0;
	display: none;
	background-color: #EEEEEE;
	border-top: 4px solid #EDAF02;
	position: absolute;
	top: 100%;
	left: 0;
}
.def > .ui-header .desktop .nav ul ul li {
	float: none;
	width: 200px;
	border: 1px solid #68340B;
	border-top-width: 0;
}
.def > .ui-header .desktop .nav ul ul li:hover {
	background-color: #FDCC3D;
}
.def > .ui-header .desktop .nav ul ul a {
	line-height: 14px;
	padding: 10px 15px;
}
.def > .ui-header .desktop .nav ul ul ul {
	top: 0;
	left: 100%
}
.def > .ui-header .desktop .nav ul li:hover > ul {
	display: block;
	-moz-animation: fadeInUp .3s ease-in-out ;
	-webkit-animation: fadeInUp .3s ease-in-out;
	animation: fadeInUp .3s ease-in-out;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
