/* WP Styles */

/* Override JQuery Mobile */
/* Remove Text Shadow - We Didn't Need You */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit,
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper,
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a,
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited,
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover,
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active,
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active,
.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit,
.ui-overlay-b,
.ui-page-theme-b,
.ui-page-theme-b .ui-panel-wrapper,
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b,
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited,
.ui-page-theme-b .ui-btn:hover,
html .ui-bar-b .ui-btn:hover,
html .ui-body-b .ui-btn:hover,
html body .ui-group-theme-b .ui-btn:hover,
html head + body .ui-btn.ui-btn-b:hover,
.ui-page-theme-b .ui-btn:active,
html .ui-bar-b .ui-btn:active,
html .ui-body-b .ui-btn:active,
html body .ui-group-theme-b .ui-btn:active,
html head + body .ui-btn.ui-btn-b:active,
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-b.ui-btn-active,
.ui-page-theme-b .ui-checkbox-on:after,
html .ui-bar-b .ui-checkbox-on:after,
html .ui-body-b .ui-checkbox-on:after,
html body .ui-group-theme-b .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-b:after,
.ui-page-theme-b .ui-flipswitch-active,
html .ui-bar-b .ui-flipswitch-active,
html .ui-body-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active {
	text-shadow: none;
}

/* Remove Box Shadow - We Didn't Need You */
.ui-shadow,
.ui-shadow-inset,
.ui-overlay-shadow,
.ui-shadow-icon.ui-btn:after,
.ui-shadow-icon .ui-btn:after,
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus,
.ui-page-theme-b .ui-btn:focus,
html .ui-bar-b .ui-btn:focus,
html .ui-body-b .ui-btn:focus,
html body .ui-group-theme-b .ui-btn:focus,
html head + body .ui-btn.ui-btn-b:focus,
.ui-page-theme-b .ui-focus,
html .ui-bar-b .ui-focus,
html .ui-body-b .ui-focus,
html body .ui-group-theme-b .ui-focus,
html head + body .ui-btn-b.ui-focus,
html head + body .ui-body-b.ui-focus,
.ui-loader-verbose,
.flow,
.ui-dialog.flow,
.ui-controlgroup-controls a.ui-shadow:not(:focus),
.ui-controlgroup-controls button.ui-shadow:not(:focus),
.ui-controlgroup-controls div.ui-shadow:not(.ui-focus),
.ui-input-text input:focus,
.ui-input-search input:focus,
.ui-panel-display-reveal,
.ui-panel-position-right.ui-panel-display-reveal,
.ui-panel-display-overlay,
.ui-panel-position-right.ui-panel-display-overlay {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Set Default Global Style */
/* @font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 700;
}
body, input, select, textarea, button, .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-CondensedBold.ttf');
	font-weight: 700;
}
body, input, select, textarea, button, .ui-btn {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 14px;
} */
body, input, select, textarea, button, .ui-btn {
	font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	font-size: 14px;
}

/* "Def" Stand as "Define" Using Abbreviate */
.def > .ui-header {
	border-width: 0;
	background-color: #001848;
}
.def > .ui-header form {
	margin: 0 46px;
}
.def > .ui-header a {
	padding: 5px 2px;
}
.def > .ui-header a img {
	border-radius: 6px;
	width: 31px;
}
.def > .ui-header .ui-input-search {
	margin: 8px 0;
	border-width: 0;
}
.def > .ui-header .ui-body-inherit {
	background-color: #90A5CA;
}
.def > .ui-header .ui-shadow-inset,
.def > .ui-header .ui-focus,
.def > .ui-header .ui-btn:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.def > .ui-header .ui-corner-all {
	border-radius: 6px;
}
.def > .ui-header .ui-alt-icon.ui-icon-search:after,
.def > .ui-header .ui-input-search:after {
	padding: 1px 3px;
	background-image: url('../images/icons-png/search-white.png');
	opacity: 1;
}
.def > .ui-header .ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear {
	padding: 1px 0;
}
.def > .ui-header .ui-btn-icon-left:after,
.def > .ui-header .ui-btn-icon-right:after,
.def > .ui-header .ui-btn-icon-top:after,
.def > .ui-header .ui-btn-icon-bottom:after,
.def > .ui-header .ui-btn-icon-notext:after {
	background-color: transparent;
}
.def > .ui-header .ui-input-search input {
	color: #FFFFFF;
	text-shadow: none;
	font-size: 14px;
}
.def > .ui-header .ui-navbar {
	border-bottom: 1px solid #CACACA;
}
.def > .ui-header .ui-navbar .ui-btn {
	padding: .7em 1em;
	background-color: #E2E2E2;
	border-color: #CACACA;
}
.def > .ui-header .ui-navbar li:last-child .ui-btn {
	margin-right: 0;
	border-right: 1px solid #CACACA;
}
.def > .ui-header .ui-navbar .ui-btn.ui-btn-active,
.def > .ui-header .ui-navbar .active {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #333333;
	text-shadow: none;
}
.def > .ui-header .ui-navbar .ui-btn span:first-child {
	float: left;
	color: #001848;
}
.def > .ui-header .ui-navbar .ui-btn span:last-child {
	float: right;
	color: #888888;
}

.def > .ui-footer {
	border-color: #222222;
	background-color: #001848;
}
.def > .ui-footer a {
	font-weight: 400;
}
.def > .ui-footer .ui-btn {
	margin: 3px;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #001848;
	color: #FFFFFF;
	text-shadow: none;
}
.def > .ui-footer .ui-navbar li:last-child .ui-btn {
	margin-right: 3px;
}
.def > .ui-footer .ui-btn:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.def > .ui-footer .ui-btn.ui-btn-active,
.def > .ui-footer .active {
	border: 1px solid #FFFFFF;
	/* background-color: #000F2C;
	color: #E8BB00; */
}

/* Extend Base */
.def > .ui-header {
	overflow: hidden;
}
.def .ui-content.ui-content-fluid {
	margin: 0;
	padding: 0;
}
.def .ui-content .container {
	margin: 0 auto;
	max-width: 1170px;
}
.def .ui-content .container-fluid {
	width: 100%;
}
.def .ui-content .container > .section,
.def .ui-content .container-fluid > .section {
	margin-bottom: 5px;
}
.def .ui-content .container > .section:last-child,
.def .ui-content .container-fluid > .section:last-child {
	margin-bottom: 20px;
}
.def .ui-content .container > .section h2,
.def .ui-content .container-fluid > .section h2 {
	margin: 10px 20px;
}
.def .ui-content .order {
	margin: 0;
	padding: 0;
}
.def .ui-content .order > .item {
	list-style: none;
}
.def .ui-content .order > .item:last-child {
	border-bottom: 0;
}
.def .ui-content .ui-view {
	padding: 5px;
}
.def .ui-content a.ui-view {
	display: block;
}
.def .ui-content .order > .item:last-child .ui-view {
	margin-bottom: 40px;
}
.def .ui-content .ui-bar,
.def .ui-content .ui-body {
	padding: 8px;
}
.def .ui-content .ui-body,
.def .ui-content .ui-foot {
	margin-top: -1px;
	padding: 0;
}
.def .ui-content .ui-corner-all > div:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.def .ui-content .ui-corner-all > div:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.def .ui-content .ui-bar h3 {
	margin-bottom: 0;
}
.def .ui-content .ui-body p {
	margin-top: 0;
	margin-bottom: 4px;
}
.def .ui-content .ui-body p:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.def .ui-content .row .cm1,
	.def .ui-content .row .cm2,
	.def .ui-content .row .cm3,
	.def .ui-content .row .cm4,
	.def .ui-content .row .cm5,
	.def .ui-content .row .cm6,
	.def .ui-content .row .cm7,
	.def .ui-content .row .cm8,
	.def .ui-content .row .cm9,
	.def .ui-content .row .cm10 {
		float: left;
	}
	.def .ui-content .row .cm1 {
		width: 10%;
	}
	.def .ui-content .row .cm2 {
		width: 20%;
	}
	.def .ui-content .row .cm3 {
		width: 30%;
	}
	.def .ui-content .row .cm4 {
		width: 40%;
	}
	.def .ui-content .row .cm5 {
		width: 50%;
	}
	.def .ui-content .row .cm6 {
		width: 60%;
	}
	.def .ui-content .row .cm7 {
		width: 70%;
	}
	.def .ui-content .row .cm8 {
		width: 80%;
	}
	.def .ui-content .row .cm9 {
		width: 90%;
	}
	.def .ui-content .row .cm10 {
		width: 100%;
	}
}

.def .ui-content .same-height {
	display: table;
	width: 100%;
}
.def .ui-content .same-height [class*="cm"] {
	float: none;
	display: block;
	vertical-align: middle;
	background-color: #EEEEEE;
}
@media (min-width: 768px) {
	.def .ui-content .same-height .cm4 {
		background-color: #FDD356;
	}
	.def .ui-content .same-height [class*="cm"] {
		display: table-cell;
	}
	.def .ui-content .order.odd-even .item:nth-child(odd) .row > [class*="cm"]:first-child {
		width: 40%;
	}
	.def .ui-content .order.odd-even .item:nth-child(odd) .row > [class*="cm"]:last-child {
		width: 60%;
	}
	.def .ui-content .order.odd-even .item:nth-child(even) .row > [class*="cm"]:first-child {
		width: 60%;
	}
	.def .ui-content .order.odd-even .item:nth-child(even) .row > [class*="cm"]:last-child {
		width: 40%;
	}
}
/*
.def .ui-content .order.ordered .item img {
	background-color: #EEEEEE;
} */
.def .ui-content .order.ordered.mini .item {
	float: left;
	width: 50%;
}
@media (min-width: 480px) {
	.def .ui-content .order.ordered {
		overflow: hidden;
	}
	.def .ui-content .order.ordered .item {
		float: left;
		width: 50%;
	}
	.def .ui-content .order.ordered.mini .item {
		width: 25%;
	}
}
@media (min-width: 768px) {
	.def .ui-content .order.ordered .item {
		float: left;
		width: 25%;
	}
	.def .ui-content .order.ordered.mini .item {
		width: 12.5%;
	}
}
@media (min-width: 992px) {
	.def .ui-content .order.ordered .item {
		float: left;
		width: 20%;
	}
	.def .ui-content .order.ordered.mini .item {
		width: 10%;
	}
}

.def .ui-content .notif .ui-listview {
	margin: 0;
}
.def .ui-content .notif .ui-listview .item:last-child {
	margin-bottom: 20px;
}
.def .ui-content .notif .ui-listview a {
	overflow: hidden;
}
.def .ui-content .notif .ui-listview .wrapper {
	margin: 0 auto;
	position: relative;
	max-width: 1140px;
}
.def .ui-content .notif .ui-listview p {
	margin: 0;
	margin-right: 32px;
	font-size: 14px;
}
.def .ui-content .notif .ui-listview p.wrap {
	white-space: normal;
}
.def .ui-content .notif .ui-listview .btn-del {
	border-width: 0;
	position: absolute;
	top: -10px;
	right: 0px;
	background-color: transparent;
}
.def .ui-content .notif .ui-listview .item .success {
	background-color: #14C790;
	color: #FFFFFF;
}
.def .ui-content .notif .ui-listview .item .info {
	background-color: #1478C7;
	color: #FFFFFF;
}
.def .ui-content .notif .ui-listview .item .warning {
	background-color: #F38918;
	color: #FFFFFF;
}
.def .ui-content .notif .ui-listview .item .error {
	background-color: #E01733;
	color: #FFFFFF;
}

.def .ui-content .card img {
	width: 100%;
	vertical-align: middle;
}
.def .ui-content .card .desc {
	display: block;
	padding: 20px;
	color: inherit;
	font-weight: 400;
	text-decoration: none;
}
.def .ui-content .card .desc .title {
	text-align: center;
	margin-top: 0;
}
@media (min-width: 768px) {
	.def .ui-content .card.rect .desc .title {
		font-size: 24px;
	}
}
.def .ui-content .card .desc .price {
	margin: -10px 0 10px;
	color: #248C00;
	font-size: 18px;
	text-align: center;
}
.def .ui-content .card .cost {
	padding: 3em 2.2em;
	border-radius: 50%;
	background-color: #9E9E9E;
	position: absolute;
	top: 5%;
	right: 5%;
}
.def .ui-content .card .cost p {
	margin: 0;
	color: #FFFFFF;
	font-size: 18px;
}

.def .ui-content .itemized {
	margin-bottom: 20px;
}
.def .ui-content .itemized .view {
	padding: 15px;
	background-color: #EEEEEE;
}
.def .ui-content .itemized .view img {
	vertical-align: middle;
}
.def .ui-content .itemized .info {
	padding: 25px 25px;
}
.def .ui-content .itemized .info h3 {
	margin: 0;
	margin-bottom: 4px;
	font-size: 24px;
}
.def .ui-content .itemized .info .sub {
	margin-bottom: 8px;
	font-size: 18px;
}
.def .ui-content .itemized .info .price {
	margin-bottom: 4px;
	color: #248C00;
	font-size: 18px;
}
.def .ui-content .itemized .info .status {
	margin-bottom: 8px;
	border-radius: 5px;
	padding: 4px 16px;
	display: inline-block;
}
.def .ui-content .itemized .info .status.available {
	background-color: #1478C7;
	color: #FFFFFF;
}
.def .ui-content .itemized .info .status.empty {
	background-color: #E01733;
	color: #FFFFFF;
}
.def .ui-content .itemized .info .status.discount {
	background-color: #14C790;
	color: #FFFFFF;
}
.def .ui-content .itemized .info .discount .through {
	padding: 0 4px;
	color: #333333;
	position: relative;
}
.def .ui-content .itemized .info .discount .through:before {
	content: "";
	background-color: #BD2021;
	position: absolute;
	top: 7px;
	left: 0;
	right: 0;
	height: 2px;
}
.def .ui-content .itemized .info .discount span:last-child {
	margin-left: 10px;
}
.def .ui-content .itemized .info .desc {
	padding: 10px 0;
}

.def .ui-content .table-stripes thead th,
.def .ui-content .table-stripes tbody tr:last-child,
.def .ui-content .ui-table tfoot th {
	border-bottom: 1px solid #DDDDDD;
}
.def .ui-content .table-stripes tfoot tr:last-child th {
	border-bottom: 0;
}
.def .ui-content .table-stripes tbody th,
.def .ui-content .table-stripes tbody td {
	border-bottom: 1px solid #DDDDDD;
	vertical-align: middle;
}
.def .ui-content .ui-table tbody th,
.def .ui-content .ui-table tbody td {
	vertical-align: middle;
}
.def .ui-content .table-stripes tbody tr:nth-child(odd) td,
.def .ui-content .table-stripes tbody tr:nth-child(odd) th {
	background-color: #EEEEEE;
}

.def .ui-content .ui-table th {
	padding: 10px 15px;
}
.def .ui-content .ui-table td {
	padding: 5px 15px;
}
.def .ui-content .ui-table tr th,
.def .ui-content .ui-table tr td {
	text-align: center;
}
.def .ui-content .ui-table tr th:first-child,
.def .ui-content .ui-table tr td:first-child {
	text-align: left;
}
.def .ui-content .ui-table tr th:last-child,
.def .ui-content .ui-table tr td:last-child {
	text-align: right;
}
@media (max-width: 35em) {
	.def .ui-content .table-stripes tr th,
	.def .ui-content .table-stripes tr td {
		text-align: right;
	}
	.def .ui-content .table-stripes tr td .ui-table-cell-label {
		text-align: left;
		float: left;
	}
	.def .ui-content .table-stroke tr th,
	.def .ui-content .table-stroke tr td {
		text-align: center;
	}
}

.def .ui-content .ui-table a {
	margin: -5px -10px;
	color: inherit;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	display: block;
}
.def .ui-content .ui-table .media img {
	border-radius: 8px;
	background-color: #DDDDDD;
	max-width: 60px;
	max-height: 60px;
	vertical-align: middle;
}
.def .ui-content .ui-table .media span {
	margin-left: 10px;
}
.def .ui-content .ui-table tfoot th {
	font-weight: 400;
}
.def .ui-content .ui-table tfoot .ui-table-cell-label {
	display: none;
}
.def .ui-content .ui-table tfoot .spare {
	padding: 2px;
	background-color: #001848;
}
.def .ui-content .ui-table tfoot .total th {
	font-size: 20px;
	font-weight: 700;
}
@media (max-width: 35em) {
	.def .ui-content .ui-table tfoot th {
		clear: inherit;
	}
	.def .ui-content .ui-table tfoot th:first-child {
		width: 40%
	}
	.def .ui-content .ui-table tfoot th:last-child {
		width: 60%
	}
	.def .ui-content .ui-table.table-stroke .media span {
		margin-left: 0;
		display: block;
		text-align: center;
	}
}
.def .ui-content .ui-table-reflow tbody th {
	margin-top: 0;
}
.def .ui-content .ui-table-reflow tbody th .ui-table-cell-label {
	display: none;
}

/* Prototype - Following Helbak Table and Adopted Media Class */
.def .ui-content .table-helbak thead tr th:first-child {
	width: 75%;
}
.def .ui-content .table-helbak thead tr th:last-child {
	width: 25%;
}
.def .ui-content .table-helbak .media {
	min-width: 240px;
}
@media (max-width: 320px) {
	.def .ui-content .table-helbak .media {
		min-width: 180px;
	}
}
.def .ui-content .table-helbak .media,
.def .ui-content .table-helbak .media-body {
  overflow: hidden;
  zoom: 1;
}
.def .ui-content .table-helbak .media-body {
  width: 10000px;
  font-weight: 400;
}
.def .ui-content .table-helbak .media-object {
  display: block;
}
.def .ui-content .table-helbak .media-object.img-thumbnail {
  max-width: none;
}
.def .ui-content .table-helbak .media-right,
.def .ui-content .table-helbak .media > .pull-right {
  padding-left: 10px;
}
.def .ui-content .table-helbak .media-left,
.def .ui-content .table-helbak .media > .pull-left {
  padding-right: 10px;
}
.def .ui-content .table-helbak .media-left,
.def .ui-content .table-helbak .media-right,
.def .ui-content .table-helbak .media-body {
  display: table-cell;
  vertical-align: middle;
}
.def .ui-content .table-helbak .media-middle {
  vertical-align: middle;
}
.def .ui-content .table-helbak .media-bottom {
  vertical-align: bottom;
}
.def .ui-content .table-helbak .media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.def .ui-content .table-helbak .media-list {
  padding-left: 0;
  list-style: none;
}
/* End General Styles */

/* Modified */
.def .ui-content .itemized .info {
	padding: 20px;
}
@media (min-width: 768px) {
	.def .ui-content .itemized .info {
		padding: 30px 40px;
	}
}
.def .ui-content .itemized .info .sub {
	margin-bottom: 4px;
}
.def .ui-content .itemized .info .discount {
	margin-bottom: 8px;
}

/* New */
.def .ui-content .container:first-child {
	margin-top: 20px;
}
.def .ui-content .order.ordered.mini .gap-round {
	padding: 10px;
	display: block;
	color: inherit;
	text-decoration: none;
}
.def .ui-content .order.ordered.mini .gap-round img {
	border-radius: 5px;
}
.def .ui-content .order.ordered.mini .gap-round p {
	text-align: center;
	margin-top: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.def .ui-content .card .a-plane {
	text-decoration: none;
	color: inherit;
	display: block;
}
.def .ui-content .card.rect .desc .title img {
	width: auto;
}
.def .ui-content .card-words {
	padding: 20px 40px;
	font-size: 18px;
	text-align: center;
}
.def .ui-content .card-words p {
	margin-bottom: 10px;
}
.def .ui-content .card-words a {
	text-decoration: none;
	color: inherit;
}
.def .ui-content .card-words .as-title {
	margin-top: 20px;
}
.def .ui-content .card-words .as-title:first-child {
	margin-top: 0;
}
.def .ui-content .card-words .contact {
	margin: 20px auto 0;
	padding: 20px;
	border: 2px solid #99AB1D;
	background-color: #c0d531;
	max-width: 360px;
}
.def .ui-content .card-words .contact p {
	margin-bottom: 4px;
}
.def .ui-content .hide-column-toggle .ui-table-columntoggle-btn {
	display: none;
}
.def .ui-content .acts {
	margin-bottom: 20px;
	overflow:hidden;
}
.def .ui-content .section .acts {
	margin-bottom: 20px;
	padding: 10px;
}
.def .ui-content .section .acts a {
	margin: 5px 0;
	width: 100%;
	-webkit-box-sizing : border-box;‌​
	-moz-box-sizing : border-box;
	box-sizing : border-box;
}
@media (min-width: 480px) {
	.def .ui-content .section .acts a {
		width: auto;
		min-width: 180px;
	}
	.def .ui-content .section .acts .pull-left {
		float: left;
	}
	.def .ui-content .section .acts .pull-right {
		float: right;
	}
}

/* Start Custom Styles */
.def .ui-content .yellow-block {
	margin: 15px 5px !important;
	padding: 8px 20px;
	border: 2px solid #EDAF02;
	background-color: #FDCC3D;
	color: #68340B;
}
.def .ui-content .yellow-block a {
	text-decoration: none;
	color: inherit;
}
@media (min-width: 768px) {
	.def .ui-content .yellow-block {
		display: inline-block;
	}
}
.def .ui-content .section .btn-orange {
	margin: 10px 0;
	background-color: #FDD356;
	border-width: 0;
	color: #2F2F2F;
}
.def .ui-content .section .btn-brown {
	margin: 10px 0;
	background-color: #BC833A;
	border-width: 0;
	color: #2F2F2F;
}
.def .ui-content .social {
	text-align: center;
}
.def .ui-content .social ul {
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	list-style: none;
}
.def .ui-content .social ul li {
	float: left;
}
.def .ui-content .social ul li a {
	display: block;
	padding: 10px;
}
.def .ui-content .social ul li a img {
	vertical-align: middle;
}

.def .ui-content .card .cost {
	padding: 0;
	text-align: center;
	width: 60px;
	height: 60px;
	top: 10px;
	right: 10px;
}
.def .ui-content .card .cost.level-5 {
	background-color: #FD3D3D;
}
.def .ui-content .card .cost.level-4 {
	background-color: #FD8A3D;
}
.def .ui-content .card .cost.level-3 {
	background-color: #FDB03D;
}
.def .ui-content .card .cost.level-2 {
	background-color: #A7DA17;
}
.def .ui-content .card .cost.level-1 {
	background-color: #34AED7;
}
.def .ui-content .card .cost p {
	margin: 18.5px 0px;
	font-weight: 700;
}

.def .panel-menu .ui-listview > .ui-li-static {
	padding: 0;
}
.def .panel-menu .ui-listview > li h2 {
	margin: 0;
}
.def .panel-menu .ui-nodisc-icon.ui-btn:after,
.def .panel-menu .ui-nodisc-icon .ui-btn:after {
	opacity: 0.8;
}
.def .panel-menu .ui-listview > li .ui-listview > li a {
	font-weight: 400;
}

.def > .ui-header {
	background-color: #FDD356;
	overflow: hidden;
}
.def > .ui-header .ui-body-inherit {
	background-color: #EDB302;
}
.def > .ui-header .desktop {
	display: none;
}
.def > .ui-header .desktop .menu {
	float: left;
	background-color: #FDCC3D;
	border-bottom: 4px solid #EDAF02;
	width: 100%;
}
.def > .ui-header .desktop .main {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1170px;
}
.def > .ui-header .desktop .menu .nav {
	overflow: visible;
}
@media (min-width: 60em) {
	.def > .ui-header {
		background-color: #F9F9F9;
		overflow: visible;
	}
	.def > .ui-header > form,
	.def > .ui-header > a {
		display: none;
	}
	.def > .ui-header .desktop {
		display: block;
	}
}
.def > .ui-header .desktop .main .bar {
	margin: 18px 10px;
	float: right;
}
.def > .ui-header .desktop .main .bar > form,
.def > .ui-header .desktop .main .bar > a {
	float: right;
	padding-top: 6px;
}
.def > .ui-header .desktop .main .bar > form {
	padding: 0 10px;
}
.def > .ui-header .desktop .main .bar > a {
	padding-right: 10px;
	padding-left: 10px;
}
.def > .ui-header .desktop .main .bar > a:first-child {
	padding-right: 0;
}
.def > .ui-header .desktop .main .bar > a img {
	opacity: 0.7;
}
.def > .ui-header .desktop .main .bar > a img.logged {
	opacity: 1;
}
.def > .ui-header .desktop .ui-filterable {
	margin: 0;
}
.def > .ui-header .desktop .ui-filterable .ui-input-search input {
	min-width: 180px;
}
.def > .ui-header .desktop .logo {
	padding: 10px;
	display: block;
	float: left;
}
.def > .ui-header .desktop .logo img {
	vertical-align: middle;
	width: auto;
	max-width: 180px;
	max-height: 64px;
}

/* Get From http://codepen.io/philhoyt/pen/ujHzd */
.def > .ui-header .desktop .nav {
	display: block;
}
.def > .ui-header .desktop .nav ul {
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	list-style: none;
}
.def > .ui-header .desktop .nav > ul {
	margin: 0 10px;
}
.def > .ui-header .desktop .nav ul a {
	padding: 2px 15px 0;
	display: block;
	color: inherit;
	text-decoration: none;
	line-height: 34px;
	font-size: 16px;
	color: #68340B;
	cursor: pointer;
}
.def > .ui-header .desktop .nav ul li {
	position: relative;
	float: left;
	transition: all 0.3s ease-in-out;
}
.def > .ui-header .desktop .nav ul li.active,
.def > .ui-header .desktop .nav ul li:hover {
	background-color: #EDAF02;
}
.def > .ui-header .desktop .nav ul ul {
	padding: 0;
	display: none;
	background-color: #EEEEEE;
	border-top: 4px solid #EDAF02;
	position: absolute;
	top: 100%;
	left: 0;
}
.def > .ui-header .desktop .nav ul ul li {
	float: none;
	width: 200px;
	border: 1px solid #68340B;
	border-top-width: 0;
}
.def > .ui-header .desktop .nav ul ul li:hover {
	background-color: #FDCC3D;
}
.def > .ui-header .desktop .nav ul ul a {
	line-height: 14px;
	padding: 10px 15px;
}
.def > .ui-header .desktop .nav ul ul ul {
	top: 0;
	left: 100%
}
.def > .ui-header .desktop .nav ul li:hover > ul {
	display: block;
	-webkit-animation: fadeInUp .3s ease-in-out;
	-moz-animation: fadeInUp .3s ease-in-out ;
	animation: fadeInUp .3s ease-in-out;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}
		100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.def > .ui-footer {
	background-color: #FDCC3D;
	border-width: 0;
	border-top: 4px solid #EDAF02;
}
.def > .ui-footer .ui-btn {
	margin: 0;
	padding: 6px;
	border-radius: 0;
	background-color: transparent;
	font-size: 16px;
	color: #68340B;
	font-weight: 700;
}
.def > .ui-footer .ui-btn.ui-btn-active,
.def > .ui-footer .active {
	border-color: #EDAF02;
	background-color: #EDAF02;
}
.def > .ui-footer .ui-navbar li:last-child .ui-btn {
	margin-right: 0;
}
/* Paveels Colours */
/* C0D531, DCE372, FDD356, BC833A, AB6B28, 74401A */
/* Contek - http://pixelarity.com/items/demos/threshold/red */

.def .ui-popup.ui-body-inherit,
.def .ui-popup.ui-body-b {
 	border-width: 0;
}
.def .ui-content .prf .main {
	margin: 0 8px 20px;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
	overflow: hidden;
}
.def .ui-content .prf .images {
	position: relative;
}
.def .ui-content .prf .images img {
	vertical-align: middle;
}
.def .ui-content .prf .images > img {
	max-width: 100%;
}
.def .ui-content .prf .images .photo {
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	overflow: hidden;
	width: 75px;
	max-height: 75px;

	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -36px;
}
.def .ui-content .prf .images .photo a {
	display: block;
}
.def .ui-content .prf .images .photo img {
	width: 100%;
	min-height: 75px;
}
@media screen and (min-width: 480px) {
	.def .ui-content .prf .images .photo {
		width: 120px;
		max-height: 120px;
		bottom: -56px;
	}
	.def .ui-content .prf .images .photo img {
		width: 120px;
		min-height: 120px;
	}
}

.def .ui-content .prf .basic {
	padding: 40px 20px 20px;
	background-color: #FFFFFF;
}
.def .ui-content .prf .basic h3,
.def .ui-content .prf .basic h4,
.def .ui-content .prf .basic p {
	margin-top: 0;
	margin-bottom: 4px;
}
.def .ui-content .prf .basic h3,
.def .ui-content .prf .basic h4 {
	text-align: center;
}
.def .ui-content .prf .basic h4 {
	margin-bottom: 20px;
	color: #777777;
}
.def .ui-content .prf .basic .txt-img {
	line-height: 14px;
}
.def .ui-content .prf .basic .txt-img > img {
	margin: 0 4px;
	max-width: 14px;
	max-height: 14px;
	vertical-align: middle;
	opacity: 0.75;
}
@media screen and (min-width: 480px) {
	.def .ui-content .prf .basic {
		padding-top: 60px;
	}
}
